.cc-advantages {
  &__line {
    background: linear-gradient( left , transparent 0%, #4268d3 50%, transparent 100% );
    height: 2px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;
    color: @C-blue;
    font-weight: @FW-Bold;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__item {
    width: 30%;
    text-align: center;
  }
  &__img {
    margin-left: -5%;
    display: inline-block;
  }
  &__title {
    margin-top: -50px;
    font-weight: @FW-Medium;
  }
  &__quality {
    font-size: 36px;
    color: @C-red;
    font-weight: @FW-Bold;
    &--wind {
      font-size: 42px;
      line-height: 1;
    }
  }
  &__text {
    font-size: 20px;
  }
}