.cc-crumbs {
  background-color: #f4f4f4;
  border-bottom: 1px solid @C-borderGray;
  padding: 50px 0 35px 0;
  margin-bottom: 30px;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 20px;
    & h1 {
      text-transform: uppercase;
    }
    &--reviews {
      font-size: 12px;
      & h1 {
        text-transform: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & p {
          margin-right: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          & img {
            margin-right: 5px;
          }
        }
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  &__text {
    font-size: 13px;
    color: @C-textGray;
    font-weight: @FW-Medium;
  }
  &__link {
    font-size: 13px;
    margin-left: 4px;
    font-weight: @FW-Bold;
    &:hover {
      color: @C-blue;
    }
  }
  &__separator {
    font-size: 11px;
    font-weight: @FW-Bold;
    margin: 0 10px;
    color: @C-textGray;
  }
}