.cc-reviews {
  &__wrap {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  &__review {
    width: 48%;
    border: 1px solid @C-borderGray;
    padding: 47px 10px 35px 10px;
    &_wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
      margin-top: -27px;
    }
  }
  &__legend {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: @FW-Bold;
    padding: 0 25px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    width: 100%;
    padding: 20px;
    border: 1px solid @C-borderGray;
    margin-bottom: 40px;
    background-color: #ffffff;
    &--2 {
      display: none;
    }
  }
  &__item {
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 60%;
      height: 2px;
      left: 20%;
      bottom: 0;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      &::before {
        display: none;
      }
    }
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: @C-textGray;
    margin-bottom: 5px;
  }
  &__stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
    & img {
      height: 30px;
    }
  }
  &__desc {
    font-size: 13px;
    margin-bottom: 5px;
    & .text {
      & b {
        font-weight: @FW-Reg;
      }
    }
    & .drop {
      display: none;
    }
  }
  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p {
      font-size: 13px;
      color: @C-textGray;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      & img {
        width: 18px;
        margin-right: 5px;
      }
    }
    & .link {
      color: @C-blue;
      font-weight: @FW-Bold;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        color: @C-textGray;
      }
      &.our-review {
        display: none;
      }
    }
  }
  &__btn {
    width: 100%;
    & .cc-btn {
      width: 100%;
    }
    &--2 {
      display: none;
    }
  }
}