.cc-statistic {
  text-align: center;
  &__line {
    height: 2px;
  }
  &__wrap {
    display: inline-block;
    max-width: 912px;
    width: 100%;
    margin: -2px 0;
    border-bottom: 10px solid #8d0e0e;
    padding: 20px 40px;
  }
  &__desc {
    height: 100px;
    text-transform: uppercase;
    font-weight: @FW-Bold;
  }
  &__fieldset {
    & legend {
      text-align: center;
      padding: 0 20px;
      color: #ffffff;
    }
    &--top {
      font-size: 22px;
      border: 2px solid #ffffff;
      border-bottom: none;
      padding-bottom: 60px;
    }
    &--bot {
      margin-top: -33px;
      font-size: 54px;
      border: none;
      border-top: 2px solid #ffffff;
    }
  }
}